body {
  margin: 0;
  font-family: sans-serif;
}

.navbar-actions {
  border: 1px solid black;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.notification {
  border: 1px solid red;
}
